@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');

body {
    color: antiquewhite;
    background-color: rgb(87, 87, 87);
}

.collapse {
    font-family: 'Rubik', sans-serif;
    color: RGB(187, 30, 16);
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    color: RGB(187, 30, 16);
}